body{
    background-color: rgb(57, 95, 95);
}
table{
    border: 1px solid black;
}
h2{
    background-color: rgb(243, 120, 120);
}
#button
{
    background-color: rgb(248, 109, 109);
    color: #fff;
}